.red,
.showcase-right .button button:active,
.violet,
nav .nav-left ul li a:hover {
  opacity: .5
}

nav .nav-left ul li a,
nav .nav-right .phone {
  color: var(--light-text, #e4e5ea);
  font-size: 16px;
  font-weight: 500;
  font-family: Inter
}

.showcase .showcase-left h2,
.showcase .showcase-left p,
nav .nav-left .brand p,
nav .nav-left ul li a,
nav .nav-right .phone {
  font-style: normal;
  line-height: normal
}

@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat/static/Montserrat-Light.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter/static/Inter-Regular.woff2) format("woff2");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.father {
  width: 100%;
  height: 100vh
}

body {
  background: var(--black, #0e1014);
  position: relative
}

.violet {
  border-radius: 259px;
  background: #833ab4;
  filter: blur(196px);
  position: absolute;
  top: -200px;
  left: 50%;
  width: 259px;
  height: 259px;
  flex-shrink: 0
}

.violetBall {
  position: absolute;
  z-index: -2;
  top: -30px;
  right: 40%;
  fill: radial-gradient(82.30% 82.30% at 27.25% 26.50%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.21) 78.59%, rgba(86, 24, 128, 0.23) 100%);
  filter: drop-shadow(3px 6px 27px rgba(177, 118, 217, .25)) blur(5px);
  backdrop-filter: blur(2px);
  width: 60px;
  height: 60px;
  flex-shrink: 0
}

.red,
.redBall {
  position: absolute;
  z-index: -1
}

.redBall {
  fill: radial-gradient(82.30% 82.30% at 27.25% 26.50%, rgba(255, 208, 208, 0.54) 0%, rgba(212, 93, 93, 0.26) 59.67%, rgba(167, 49, 49, 0.25) 78.59%, rgba(130, 25, 25, 0.25) 100%);
  filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, .25));
  width: 83px;
  height: 83px;
  flex-shrink: 0;
  top: 40px;
  left: 32%
}

.red {
  left: 0;
  top: 200px;
  border-radius: 311px;
  background: #961a1a;
  filter: blur(196px);
  width: 311px;
  height: 311px;
  flex-shrink: 0
}

.father-container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 90px;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto
}

nav {
  width: 80%;
  margin: 46px auto 0;
  display: flex;
  justify-content: space-between
}

.footer,
.showcase,
main {
  margin: 0 auto
}

nav .nav-left ul,
nav .nav-right {
  align-items: center;
  display: flex
}

nav .nav-left {
  width: 70%;
  display: flex;
  gap: 27px
}

nav .nav-right {
  width: 30%;
  justify-content: flex-end;
  gap: 52px
}

nav .nav-left .brand {
  display: flex;
  flex-direction: column;
  gap: 14px
}

nav .nav-left .brand img {
  width: 100%;
  object-fit: contain
}

nav .nav-left .brand p {
  width: 80%;
  color: #e4e5ea;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 300
}

nav .nav-left ul {
  width: 100%;
  gap: 30px;
  list-style: none
}

nav .nav-left ul li a {
  transition: .2s;
  text-decoration: none
}

nav .nav-right .phone {
  text-align: right
}

nav .nav-right .icons {
  display: flex;
  align-items: center;
  gap: 30px
}

.showcase {
  display: flex;
  width: 80%;
  justify-content: space-between
}

.showcase .showcase-left,
.top {
  flex-direction: column;
  display: flex
}

.top {
  gap: 90px
}

.showcase .showcase-left {
  text-align: left;
  gap: 30px
}

.showcase .showcase-left h2 {
  color: #e4e5ea;
  font-family: Inter;
  font-size: 48px;
  font-weight: 400
}

.showcase .showcase-left p {
  color: var(--light-text, #e4e5ea);
  font-family: Montserrat;
  font-size: 18px;
  width: 50%;
  font-weight: 400
}

.upper {
  color: transparent;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  background-image: linear-gradient(#fcb045, #ff3f78);
  background-clip: text;
  -webkit-background-clip: text
}

.showcase-right .cols .col .title,
.showcase-right .row,
.small {
  font-family: Inter;
  font-size: 18px;
  line-height: normal;
  font-style: normal;
  text-align: right
}

.small {
  font-weight: 500
}

.showcase .showcase-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: right
}

.showcase-right .row {
  color: var(--light-text, #e4e5ea);
  font-weight: 500
}

.showcase-right .cols {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px
}

.showcase-right .cols .col {
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 1.5px
}

.showcase-right .cols .col .title {
  color: var(--light-text, #e4e5ea);
  font-weight: 500;
  letter-spacing: .9px;
  text-transform: uppercase
}

.showcase-right .cols .col .sub {
  color: #e4e5ea;
  text-align: right;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal
}

.showcase-right .button button {
  background: #4077f3;
  padding: 21px 35px;
  color: var(--light-text, #e4e5ea);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none
}

main {
  width: 80%;
  color: #fff;
  font-family: Inter;
  display: flex;
  flex-direction: column;
  gap: 20px
}

main .post {
  padding: 10px 20px;
  background-color: #0e1014
}

.footer {
  width: 80%;
  display: flex;
  justify-content: space-between
}

.footer .footer-cols {
  display: flex;
  gap: 98px
}

.footer .footer-cols .footer-col {
  display: flex;
  flex-direction: column;
  gap: 18px
}

.footer .footer-cols .footer-col .col-header {
  color: var(--dark-gray, #656566);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: .7px;
  text-transform: uppercase
}

.footer .footer-col .footer-col,
.footer .footer-cols .footer-col .col-body,
.footer .footer-cols .footer-col .grid,
.footer .footer-right .footer-bottom a,
.footer .footer-right .footer-bottom p {
  color: var(--light-text, #e4e5ea);
  font-style: normal;
  font-weight: 400;
  line-height: normal
}

.footer .footer-cols .footer-col .grid {
  display: grid !important;
  font-family: Inter;
  font-size: 16px;
  gap: 20px !important;
  grid-template-columns: auto auto
}

.footer .footer-col .footer-col {
  font-family: Inter;
  font-size: 16px
}

.footer .footer-cols .footer-col .col-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Inter;
  font-size: 16px
}

.footer .footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  gap: 70px;
  padding-bottom: 20px
}

.footer .footer-right .footer-right-col {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.footer .footer-right .footer-right-col .col-header {
  color: var(--dark-gray, #656566);
  text-align: right;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: .7px;
  text-transform: uppercase
}

.footer .footer-right .footer-right-col .col-body {
  display: flex;
  flex-direction: column;
  gap: 21px
}

.footer .footer-right .footer-right-col .col-body .col-body-text {
  color: var(--light-text, #e4e5ea);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal
}

.footer .footer-right .footer-right-col .col-body .col-body-icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px
}

.footer .footer-right .footer-right-col .col-body .col-body-icons .col-body-icon img {
  width: 20px;
  height: 20px
}

.footer .footer-right .footer-bottom a,
.footer .footer-right .footer-bottom p {
  text-align: right;
  font-family: Montserrat;
  font-size: 12px
}

@media only screen and (max-width:1324px) {

  .footer,
  .showcase,
  nav {
    width: 90%
  }
}

@media only screen and (max-width:1172px) {
  nav .nav-right {
    display: none
  }

  nav .nav-left {
    width: 100%;
    justify-content: space-between;
    display: flex
  }

  nav .nav-left ul {
    width: auto
  }

  nav .nav-left .brand {
    width: 30%
  }
}

@media only screen and (max-width:1070px) {
  .footer {
    display: flex
  }

  .footer .footer-cols {
    flex-direction: column
  }

  .footer .footer-right {
    display: flex;
    flex-direction: column
  }

  .footer .footer-cols .footer-col .grid {
    gap: 12px
  }

  .footer .footer-right .footer-right-col .col-header {
    margin-top: 30px
  }
}

@media only screen and (max-width:825px) {
  nav .nav-left ul {
    gap: 18px
  }

  .footer,
  .showcase,
  nav {
    width: 95%
  }
}

@media only screen and (max-width:726px) {

  .red,
  nav {
    z-index: 99
  }

  .footer,
  nav {
    display: grid;
    grid-template-columns: 95%
  }

  nav .nav-left .brand {
    display: none
  }

  nav {
    height: 55px;
    margin-top: 0;
    width: 100%;
    padding: 0 16px;
    justify-content: center;
    column-gap: 16px !important;
    background: var(--black, #0e1014)
  }

  .red {
    width: 211px;
    height: 210px;
    border: 1px solid red
  }

  .violet {
    width: 259px;
    border-radius: 259px;
    opacity: .5;
    right: 0;
    background: #833ab4;
    filter: blur(196px);
    height: 259px
  }

  .redBall {
    filter: blur(5px);
    width: 25px;
    height: 25px;
    left: 0;
    top: 28rem
  }

  .violetBall {
    top: 300px;
    right: 10%
  }

  nav .nav-left ul {
    display: flex;
    width: 100%;
    justify-content: space-between
  }

  .showcase .showcase-left h2 {
    font-size: 36px
  }

  .upper {
    font-size: 24px
  }

  .footer {
    width: 100%;
    background: var(--black, #0e1014);
    justify-content: center;
    padding-top: 45px
  }

  .footer .footer-right {
    text-align: left;
    align-items: flex-start
  }

  .footer .footer-right .footer-right-col .col-header {
    text-align: left
  }

  .footer .footer-right .footer-right-col .col-body .col-body-icons {
    display: flex;
    justify-content: flex-start
  }

  .violet {
    position: absolute;
    top: 40%;
    left: 28%;
    z-index: -1
  }
}

@media only screen and (max-width:665px) {
  .showcase {
    display: flex;
    flex-direction: column;
    justify-content: flex-start
  }

  .showcase .showcase-right,
  .showcase .showcase-right .cols .col .sub,
  .showcase .showcase-right .cols .col .title {
    text-align: left
  }

  .showcase .showcase-right .row {
    justify-content: flex-start;
    display: flex;
    text-align: left;
    margin-top: 45px
  }

  .showcase .showcase-right .row .text,
  .small {
    font-size: 18px
  }
}

@media only screen and (max-width:548px) {

  .footer .footer-cols .footer-col .grid,
  .showcase .showcase-right .cols .col .title {
    color: var(--light-text, #e4e5ea);
    font-style: normal;
    font-weight: 400;
    line-height: normal
  }

  #none,
  .showcase .showcase-right .button,
  .showcase .showcase-right .cols .col .sub {
    display: none
  }

  nav .nav-left ul li a {
    font-size: 12px
  }

  .showcase .showcase-right .cols .col .title {
    font-family: Montserrat;
    font-size: 13px;
    letter-spacing: .65px;
    text-transform: uppercase;
    position: relative
  }

  .showcase .showcase-right .cols .col {
    padding-left: 30px
  }

  .showcase .showcase-right .cols {
    gap: 10px !important
  }

  .showcase .showcase-right .cols .col .title::before {
    content: "";
    position: absolute;
    left: -22px;
    top: 50%;
    background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
    width: 10px;
    height: 1px;
    display: block
  }

  .footer .footer-cols .footer-col .grid {
    font-family: Inter;
    font-size: 14px
  }
}

@media only screen and (max-width:371px) {
  .violet {
    left: 20% !important
  }
}